// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import 'bootstrap/scss/bootstrap';

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    .wrapper {
        display: flex;
        position: relative;
        justify-content: center;
        min-height: 100vh;
        background-color: rgb(241 245 249);
        padding: 1rem 0;
    }
}
